.food-card {
  height: 500px;
  width: 90vw;
  margin: 50px auto;
  /* border: 5px solid rgb(55, 49, 49); */
  position: relative;
}

.image {
  width: 100%;
  height: 500px;
}

.content {
  color: white;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 30%;
}

.background-blur {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

.head-zomato {
  font-family: "Segoe UI";
  font-style: italic;
  font-size: 60px;
}

.para-zomato {
  font-family: "Segoe UI";
  font-size: 20px;
  margin-bottom: 40px;
}
.searchbar {
  background-color: white;
  color: black;
  white-space: nowrap;
  height: 50px;
  width: 35vw;
  border-radius: 10px;
}

.element {
  display: inline;
  margin-top: 15px;
  margin-right: 10px;
}

.dropdown {
  height: 35px;
  width: 140px;
  border: 2px solid lightgrey;
  border-radius: 7px;
  padding: 5px;
  margin-right: auto;
}
